
:root {
    --colorTextos: #0d0d0d;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }





  body{

    background: url('../images/uu.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  
  
  }
  


th.listacl{
  width: 200px;
}
td.editar{
  background-color: #c0e6f8;
}

td.verde{

  background-color: #4ba6f01c;
}

td.azul{
  background-color: #9ab1e2b0;
}


td.Aceptado{
  background-color: #00f335d7;
}
td.En.revision{
  background-color: #f6fa00d0;
}

td.Rechazado {
  background-color: hsla(0, 100%, 65%, 0.795);

}

td.Rechazado span{

  color: #ffffff;
}

td{
  text-align: center;
  margin: 0;
  padding: 0;
}



/* From cssbuttons.io by @adamgiebl */
button.login {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
 }
 
 button.login:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
 }
 
 button.login:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
 }


 button.login {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
 }
 
 button.login:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
 }
 
 button.login:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
 }




/* From cssbuttons.io */
.btn{
  padding: 1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(241, 230, 230, 0.685);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }
 
 .btn:hover {
  box-shadow: 0px 15px 20px rgba(5, 53, 126, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }
 
.btn:active {
  transform: translateY(-1px);
 }



 .btn.btn-primary.PDF{
background-color: rgb(134, 0, 0);
 }

 .btn.btn-primary.PDF:hover{
  background-color: rgb(189, 0, 0);
   }
  

select
{
  height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

::placeholder{
  text-align: center;

}
th, td{
  text-align: center;

}
input{
  width: 100%;
}


.re-Captcha{
  position: relative;

  margin-left: auto;
  margin-right: auto;



  margin-left: 60px;
}

.visible{
  display: none;
}

.visible2{
  display: inline-block;
}
/* ================================== Transparencia fondo menus ==================================*/

  .tablas{
	  background-color: #ffffff;
  }


/* From uiverse.io by @victoryamaykin */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
 }
 
 .switch input {
  display: none;
 }
 
 input{
   padding: 0px  10px;

 }
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #0E6EB8;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'Descuento';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'Unitario';
 }
 
 /*--------- END --------*/



 
 @media screen and (min-width: 700px) {
	 .wrapper {
		 display: grid;
		 grid-template-columns: 1fr 2fr;
	}
}
 .servicios {
	 list-style: none;
	 text-align: center;
}
 @media screen and (min-width: 700px) {
	 .servicios {
		 text-align: left;
	}
}
 .logo {
	 text-align: center;
	 margin-bottom: 1rem;
}
 .info-empresa {
	 padding: 1rem;
	 background-color: #797979a4;
}
 .info-empresa h3 {
	 text-align: center;
}
 @media screen and (min-width: 700px) {
	 .info-empresa h3 {
		 text-align: left;
		 margin-bottom: 0.5rem;
	}
}
 .nombre-empresa {
	 color: #263137;
}
 .contacto {
	 padding: 1rem;
	 background-color: #eaeff1;
}
 .contacto h3 {
	 margin-bottom: 1rem;
}
 .formulario {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 grid-gap: 1.25rem;
}
 .formulario label {
	 display: block;
}
 .formulario button, .formulario input, .formulario textarea {
	 width: 100%;
	 padding: 1rem;
	 border: 1px solid #dcccd9;
}
 .formulario textarea {
	 resize: none;
}
 .full {
	 grid-column: 0.3333333333;
}
 .boton-enviar {
	 background-color: #ccd7dc;
	 border: none;
	 border-radius: 5px;
	 text-transform: uppercase;
	 font-weight: bold;
	 cursor: pointer;
}
 .boton-enviar:focus, .boton-enviar:hover {
	 background-color: #455a64;
	 color: #fff;
	 outline: 0;
	 transition: background-color 2s ease-out;
}
 

              
/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width: 1200px) {

}

/*=========================MEDIA QUERIES PANTALLA SM================================*/

@media (max-width: 960px) {


  body{
/* 
    background: #ffffff;
     background: url('../images/Movil.png') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; */
   
   }




   .re-Captcha{
    margin-left: -20px;
    width: 80%;
  }


   
   
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 768px) {


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/
@media (max-width: 576px) {
  
}
/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body{

  /* background: url('../images/uu.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

 
  background-color:  var(--black-bg-color);
 
}


:root {
  /*WHITE*/

  

  /*DARK*/
  --black-bg-color:  rgb(255, 255, 255);
  --black-text-color: black   ;

  /*RED*/
  --red-bg-color: #ce8082;
  --red-text-color: #020202;

  /*GREEN*/
  --green-bg-color: #40de7c;
  --green-text-color: #020202;

  /*YELLOW*/
  --yellow-bg-color: #fdc011;
  --yellow-text-color: #110d02;

  /*BLUE*/
  --blue-bg-color: #2943a1;
  --blue-text-color: #d4cbcd;

  /*PURPLE*/
  --purple-bg-color: #dbdbed;
  --purple-text-color: #29262e;

  /*OLIVE*/
  --olive-bg-color: #838b74;
  --olive-text-color: #f7f5e4;
}


[type="radio"] {
  position: fixed;
  left: -9999px;
}

label {
  cursor: pointer;
}



/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-wrapper {
 position: absolute;
  width: 100%;
  height: calc(100% - 64px);
  transition: all 0.3s ease-in-out;
 
}

.color-palette {
  position: fixed;
  top: 30px;
  right: 15px;
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.color-palette label {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-palette label::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

[id="white"] ~ .page-wrapper [for="white"] {
  background: var(--white-bg-color);
}

[id="black"] ~ .page-wrapper [for="black"] {
  background: var(--black-bg-color);
  
}

[id="red"] ~ .page-wrapper [for="red"] {
  background: var(--red-bg-color);
}





[id="green"] ~ .page-wrapper [for="green"] {
  background: var(--green-bg-color);
}

[id="yellow"] ~ .page-wrapper [for="yellow"] {
  background: var(--yellow-bg-color);
}

[id="blue"] ~ .page-wrapper [for="blue"] {
  background: var(--blue-bg-color);
}

[id="purple"] ~ .page-wrapper [for="purple"] {
  background: var(--purple-bg-color);
}

[id="olive"] ~ .page-wrapper [for="olive"] {
  background: var(--olive-bg-color);
}




/* CHECKBOX HACK STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[type="radio"]:checked ~ .page-wrapper label::before {
  display: block;
}

[id="white"]:checked ~ .page-wrapper {
  color: var(--white-text-color);
  background: var(--white-bg-color);
}

[id="white"]:checked ~ .page-wrapper [for="white"]::before {
  background: var(--white-text-color);
}

[id="black"]:checked ~ .page-wrapper {
  color: var(--black-text-color);
  background: var(--black-bg-color);
}

[id="black"]:checked ~ .page-wrapper [for="black"]::before {
  background: var(--black-text-color);
}

[id="red"]:checked ~ .page-wrapper {
  color: var(--red-text-color);
  background: var(--red-bg-color);
}

[id="red"]:checked ~ .page-wrapper [for="red"]::before {
  background: var(--red-text-color);
}

[id="green"]:checked ~ .page-wrapper {
  color: var(--green-text-color);
  background: var(--green-bg-color);
}

[id="green"]:checked ~ .page-wrapper [for="green"]::before {
  background: var(--green-text-color);
}

[id="yellow"]:checked ~ .page-wrapper {
  color: var(--yellow-text-color);
  background: var(--yellow-bg-color);
}

[id="yellow"]:checked ~ .page-wrapper [for="yellow"]::before {
  background: var(--yellow-text-color);
}

[id="blue"]:checked ~ .page-wrapper {
  color: var(--blue-text-color);
  background: var(--blue-bg-color);
}

[id="blue"]:checked ~ .page-wrapper [for="blue"]::before {
  background: var(--blue-text-color);
}

[id="purple"]:checked ~ .page-wrapper {
  color: var(--purple-text-color);
  background: var(--purple-bg-color);
}

[id="purple"]:checked ~ .page-wrapper [for="purple"]::before {
  background: var(--purple-text-color);
}

[id="olive"]:checked ~ .page-wrapper {
  color: var(--olive-text-color);
  background: var(--olive-bg-color);
}

[id="olive"]:checked ~ .page-wrapper [for="olive"]::before {
  background: var(--olive-text-color);
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 15px;
  bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 5px;
}

.page-footer a {
  margin-left: 4px;
}