@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Open+Sans:wght@300&display=swap');


@font-face {
  font-family: 'Code Pro';
  src: local('Code Pro Light Lowercase'), local('Code-Pro-Light-Lowercase'),
      url('Code-Pro-Light-LC.woff2') format('woff2'),
      url('Code-Pro-Light-LC.woff') format('woff'),
      url('Code-Pro-Light-LC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
:root {
    --colorTextos: #0d0d0d;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

body{

/*   background: #362100;
  background: url('../images/fondo.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 */
  background-color: rgb(255, 255, 255);

}

p,h1,h2, span, label, input{

  font-family: Arial, Helvetica, sans-serif;

}


select
{
  height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

::placeholder{
  text-align: center;
}
th, td{
  text-align: center;

}
input{
  width: 100%;
}


.titulo-proyectos h2{



  font-family: 'Code Pro'; 
  font-size: 40px;
  font-weight: 600; 
  color: rgb(0, 0, 0);
  font-display: swap;


}
