:root {
    --color-principal: black;
    --color-secondary: #5693e2;
    --border-radius: 20px;
    --color-text: rgb(34, 34, 34);
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    --box-shadow-hover: 4px 4px 8px rgba(0, 0, 0, 0.6);

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #ffffff;
}

.full{
   position: absolute;
   width: calc(100vw - 60px);
   height: 100%;
   margin-left: 60px;
   top: 0;
   transition: 1s ease;
   -webkit-transition: 1s ease;
   -moz-transition: 1s ease;
   -ms-transition: 1s ease;
   -o-transition: 1s ease;
   display: flex;
   justify-content: center;
   align-items: center;
}

.full.active{
    width: calc(100% - 250px );
    height: 100vh;
    margin-left: 250px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
 

.box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-box{
    background-color: rgba(231, 231, 231, 0.068);
    width: 400px;
    height: 500px;
    padding: 0px;
    border-radius: var(--border-radius) ;
    -webkit-border-radius: var(--border-radius) ;
    -moz-border-radius: var(--border-radius) ;
    -ms-border-radius: var(--border-radius) ;
    -o-border-radius: var(--border-radius) ;
    border: none;
    box-shadow: var(--box-shadow);

    display: flex;
    justify-content: center;
    align-items: center;

}
.card-box:hover{
 
    box-shadow: var(--box-shadow-hover);
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}


.card-box h2{
    text-align: center;
    color: var(--color-text);
}


.card-box label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}




.captcha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.box-footer{
    position: absolute;
    width: 100vw;
    height: 80px;
    bottom: 0;
    background-color: var(--color-principal);
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-media a{
margin: 10px 20px;
}

.copiright h3{
    text-align: center;
    color: white;
    font-size: 12px;
}



.header{

    background-color: var(--color-principal);
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    height: 60px;
}






@media (max-width: 960px) {
    .card-box{
     width: 90%;
    }
  }




















  