.valor_dolar{
    width: 50%;
 float: left;
}

div.subir_dolar{
    width: 50%;
    float: right;
   padding: 10px;
}
.btn-dolar{
    background-color: rgb(75, 231, 36);
    text-decoration: none;


}

.espacio{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
}


/* tabla de proporcionalidad titulo y totales */
.azul{
    background-color: #1a0257;
    COLOR: WHITE;
}

.total{
    background-color: #3c1053 ;
    color: aliceblue;
}