
    .registro{
      position:relative;  
      height:65%;
      width:900px;
      margin-left:auto;
      margin-right:auto;
      margin-top: 5%;
  
    }

.btn.btn-primary.Resetear{
background-color: rgb(15, 36, 65);
}

  
